body {
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
}

.wrapper {
	padding-right: 20px !important;
	padding-left: 20px !important;
	box-sizing: border-box;
}

.root {
	width: 100%;
	max-width: 1024px;
}

.wiz-block,
.wiz-column {
	box-sizing: border-box !important;
}

.wiz-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wiz-button .wiz-text {
	position: static !important;
	transform: none !important;
}

@media screen and (max-width: 699px),
	screen and (max-width: 699px) and (min-width: 1px) {
	.root {
		width: 100% !important;
		min-width: 100% !important;
	}
}
