/*COLORS*/
$brandColor1: #0087cd !default;
$brandColor2: #1f252e !default;
$brandColor3: #06ac98 !default;
$brandColor4: #ffffff !default;
$brandColor5: #525256 !default;
$brandColor6: #57667e !default;

/*FONTS*/
$fFamily: 'Poppins', sans-serif !default;
