/* COLORS */
$color1: #008ca6;
$color2: #ecdd53;
$color3: #ee3d33;
$color4: #a5dad1;
$color5: #223767;
$color6: rgba(87, 102, 126, 0.12);
$color7: #ffffff;
$color8: #edeeef;
$color9: #2573ba;
$color10: #666666;
$color11: #000000;
$color12: #f5f5f5;

/* FONTS */
$fFamily1: 'Poppins', sans-serif;
$font1: 700 38px/1.25 $fFamily1;
$font2: 700 28px/1.25 $fFamily1;
$font3: 400 16px/1.5 $fFamily1;
$font4: 300 14px/1.25 $fFamily1;
$font5: 400 10px/1 $fFamily1;
$font6: 400 10px/1.25 $fFamily1;
$font7: 300 11.5px/1 $fFamily1;
$font8: 300 13px/1.25 $fFamily1;

$fFamily1: $fFamily1;
$sectionTitle: $font1;
$sectionSubtitle: $font2;
$accordionTitle: $font2;
$tabTitle: $font2;
$accordionContent: $font3;
$tabContent: $font3;
$mainFont1: $font3;
$mainFont2: $font4;
$podcastLink1: $font7;
$podcastText1: $font8;
$footerFont1: $font5;
$footerFont2: $font4;
$footerFont3: $font6;

/* Title $ subtitle */
$sectionTitleColor1: $color1;
$sectionTitleColor2: $color4;
$sectionTitleColor3: $color7;
$videoBlockTitle1: $color1;
$accordionTitleColor: $color7;
$tabTitleColor: $color7;

$sectionSubtitleColor1: $color1;
$sectionSubtitleColor2: $color7;
$sectionSubtitleColor3: $color4;
$blockSubtitle1: $color1;

/* Background */
$buttonBackground1: $color1;
$buttonBackground2: $color2;
$buttonBackground3: $color7;

$videoBlockBackground1: $color2;
$videoBlockBackground2: $color3;

$sectionBackground1: $color2;
$sectionBackground2: $color4;
$sectionBackground3: $color5;

$podcastBackgroundColor1: $color12;

$accordionBackground: $color1;

$tabBackground1: $color1;
$tabBackground2: $color2;
$tabBackground3: $color3;
$tabContentBackground1: $color8;

$footerBackground1: $color1;

/* Text */
$mainText1: $color1;
$mainText2: $color4;
$mainText3: $color5;
$mainText4: $color7;

$buttonText1: $color1;
$buttonText2: $color2;
$buttonText3: $color7;
$buttonText4: $color3;

$videoBlockDescription1: $color1;

$buttonDescription1: $color1;
$blockDescription1: $color1;

$podcastLinkColor1: $color10;
$podcastTextColor1: $color11;

$accordionText: $color5;
$tabTextColor1: $color5;
$tabTextColor2: $color7;

$linkText1: $color1;
$linkText2: $color7;
$linkText3: $color9;

$footerDescription1: $color5;
$footerDescription2: $color7;

/* Other */
$borderColor: $color1;
$shadowColor1: $color6;
$boxShadowColor1: 0 4px 64px $shadowColor1;
$headerBottomLine: $color8;
$footerTopLine: $color8;

:export {
	//colors
	color1: $color1;
	color2: $color2;
	color3: $color3;
	color4: $color4;
	color5: $color5;
	color6: $color6;
	color7: $color7;
	color8: $color8;

	/* FONTS */
	fFamily1: $fFamily1;
	sectionTitle: $sectionTitle;
	sectionSubtitle: $sectionSubtitle;
	accordionTitle: $accordionTitle;
	tabTitle: $tabTitle;
	accordionContent: $accordionContent;
	tabContent: $tabContent;
	mainFont1: $mainFont1;
	mainFont2: $mainFont2;
	podcastLink1: $podcastLink1;
	podcastText1: $podcastText1;
	footerFont1: $footerFont1;
	footerFont2: $footerFont2;
	footerFont3: $footerFont3;

	/* Title $ subtitle */
	sectionTitleColor1: $sectionTitleColor1;
	sectionTitleColor2: $sectionTitleColor2;
	sectionTitleColor3: $sectionTitleColor3;
	videoBlockTitle1: $videoBlockTitle1;
	accordionTitleColor: $accordionTitleColor;
	tabTitleColor: $tabTitleColor;
	sectionSubtitleColor1: $sectionSubtitleColor1;
	sectionSubtitleColor2: $sectionSubtitleColor2;
	sectionSubtitleColor3: $sectionSubtitleColor3;
	blockSubtitle1: $blockSubtitle1;

	/* Background */
	buttonBackground1: $buttonBackground1;
	buttonBackground2: $buttonBackground2;
	buttonBackground3: $buttonBackground3;
	videoBlockBackground1: $videoBlockBackground1;
	videoBlockBackground2: $videoBlockBackground2;
	sectionBackground1: $sectionBackground1;
	sectionBackground2: $sectionBackground2;
	sectionBackground3: $sectionBackground3;
	podcastBackgroundColor1: $podcastBackgroundColor1;
	accordionBackground: $accordionBackground;
	tabBackground1: $tabBackground1;
	tabBackground2: $tabBackground2;
	tabBackground3: $tabBackground3;
	tabContentBackground1: $tabContentBackground1;
	footerBackground1: $footerBackground1;

	/* Text */
	mainText1: $mainText1;
	mainText2: $mainText2;
	mainText3: $mainText3;
	mainText4: $mainText4;
	buttonText1: $buttonText1;
	buttonText2: $buttonText2;
	buttonText3: $buttonText3;
	buttonText4: $buttonText4;
	videoBlockDescription1: $videoBlockDescription1;
	buttonDescription1: $buttonDescription1;
	blockDescription1: $blockDescription1;
	podcastLinkColor1: $podcastLinkColor1;
	podcastTextColor1: $podcastTextColor1;
	accordionText: $accordionText;
	tabTextColor1: $tabTextColor1;
	tabTextColor2: $tabTextColor2;
	linkText1: $linkText1;
	linkText2: $linkText2;
	linkText3: $linkText3;
	footerDescription1: $footerDescription1;
	footerDescription2: $footerDescription2;

	/* Other */
	borderColor: $borderColor;
	shadowColor1: $shadowColor1;
	boxShadowColor1: $boxShadowColor1;
	footerTopLine: $footerTopLine;
	headerBottomLine: $headerBottomLine;
}
